<h1>Home Page</h1>

<% if user_signed_in? %>
    <h4>All Doctors</h4>
    <%= render "home/all_doctor" %>
    <% if current_user.user_role.downcase == 'doctor' %>
        <%= link_to "See appointments", doctor_index_path%>
    <% end %>
    <% if current_user.user_role.downcase == 'admin' %>
        <hr>
        <h2 class='text-center'>Admin Panel</h2>
        <hr>
        
        <h3> Welcome <%= current_user.name %>
            <h5 class ="text-secondary">Total <%= User.count%> User</h5>
        </h3>

        <h2>All Users</h2>

        <%= link_to "Create Doctor or Patient",new_admin_path%>

        <% @users.each do |user| %>
            <li>          
                <%= user.email%>( <%= user.user_role%> )
            </li>
        <%end%>
    <%end%>
<%end%>


